@charset "UTF-8";
input[type=checkbox], input[type=radio] { display: none; }

label:has(input[type=checkbox]),
label:has(input[type=radio]) {
  display: flex;
  position: relative;
  align-items: center;
  gap: var(--m);
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  width: fit-content;
  height: fit-content;
}
label:has(input[type=checkbox]) *,
label:has(input[type=radio]) * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

label:has(input[type=checkbox])::before,
label:has(input[type=radio])::before {
  box-sizing: border-box;

  width: 20px;
  height: 20px;

  border: solid 2px var(--c-checkbox-border);
  content: "";
}

label:has(input[type=checkbox])::before { border-radius: var(--r); }
label:has(input[type=radio])::before { border-radius: 10px; }

label:has(input[type=checkbox]:not(:disabled)),
label:has(input[type=radio]:not(:disabled)) { cursor: pointer; }

label:has(input[type=checkbox]:not(:disabled))::before,
label:has(input[type=radio]:not(:disabled))::before {
  transition: border var(--t-transition) linear;
  will-change: border;
}

label:has(input[type=checkbox]:not(:disabled))::before { border-radius: var(--r); }

label:has(input[type=radio]:not(:disabled))::before { border: solid 2px var(--c-checkbox-border); }

label:has(input[type=checkbox]:not(:disabled)):hover::before,
label:has(input[type=radio]:not(:disabled)):hover::before { border-color: var(--c-accent); }

label:has(input[type=checkbox]:not(:disabled):checked)::before { border: solid 6px var(--c-accent); }

label:has(input[type=radio]:not(:disabled):checked)::before { border: solid 6px var(--c-accent); }

label:has(input[type=checkbox]:disabled),
label:has(input[type=radio]:disabled) { opacity: 0.5; }

label:has(input[type=checkbox]:disabled),
label:has(input[type=radio]:disabled) { cursor: no-drop; }

label:has(input[type=checkbox]:disabled)::before,
label:has(input[type=radio]:disabled)::before { background-color: var(--c-checkbox-border); }