@charset "UTF-8";
:root {
  --lyra: oklch(59% 0.3 309);
  --accent: var(--lyra);

  --main: oklch(100% 0 0);

  --font-color: oklch(0% 0 0);

  --input-minimum: 44px;
  --input-radius: 22px;
  --input-background: oklch(from var(--accent) l 0.2 h/0.1);

  --button-minimum: 44px;
  --button-padding: 12px;
  --button-gap: 4px;
  --button-radius: 22px;
  --button-background: oklch(from var(--accent) l 0.2 h/0.1);

  --select-minimum: 44px;
  --select-radius: 22px;
  --select-background: oklch(from var(--accent) l 0.2 h/0.1);

  --label-padding: 10px;

  --toggle-width: 50px;
  --toggle-height: 30px;
  --toggle-padding: 4px;
  --toggle-radius: calc(var(--toggle-height) / 2);
  --toggle-background: oklch(from var(--accent) l 0.2 h/0.3);

  --modal-radius: 34px;
  --modal-background: oklch(from var(--accent) 95% 0.009 h);
  --modal-shadow: 0 0 10px oklch(0% 0 0 / 0.5);
  --modal-ani-in: cubic-bezier(0.17, 0.67, 0.17, 1);

  --modal-inner-padding: 8px;
  --modal-inner-radius: 22px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main: oklch(0% 0 0);

    --font-color: oklch(100% 0 0);

    --modal-background: oklch(from var(--accent) 25% 0.009 h);
  }
}