@charset "UTF-8";
.bg-blur, .bg-acrylic {
  backdrop-filter: blur(10px);
}

.bg-blur::before, .bg-acrylic::before {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  content: "";
}

.bg-acrylic::before {
  background: repeat url("../../../assets/essentials/noise.png");
  opacity: 0.02;
}