@charset "UTF-8";
#lyra-modal-area {
  position: fixed;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 100;

  width: 100vw;
  height: 100vh;

  pointer-events: none;
}

.modal {
  display: grid;
  grid-template-areas:
      "modal";
  place-items: center;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;

  pointer-events: none;
}
.modal > * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.modal > .bg {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;

  background-color: var(--c-modal-bg);
  /* opacity: 0; */
  pointer-events: auto;

  animation: 0.15s ease-in-out ani-fade-in both;
  will-change: opacity;
}

.modal > .body {
  grid-area: modal;
  display: grid;
  position: relative;
  grid-template-areas:
      "title"
      "content"
      "controller";
  grid-template-columns: minmax(0px, 700px);
  grid-template-rows: minmax(0px, auto) minmax(0px, 1fr) minmax(0px, auto);
  row-gap: var(--m-large);
  margin: var(--m);
  padding: var(--p-modal);
  box-sizing: content-box;

  max-width: inherit;
  max-height: calc(100vh - var(--p-modal)*2 - var(--m)*2);
  width: auto;
  height: max-content;

  outline: solid 1px var(--c-border);
  border-radius: var(--r-medium);
  background-color: var(--c-main);
  /* box-shadow: 0 0 10px var(--c-shadow); */
  pointer-events: auto;

  animation: 0.15s var(--af-sweep-in) ani-window-in both;
  will-change: transform, opacity;
}

.modal > .body > .title {
  grid-area: title;
  display: grid;
  position: relative;
  grid-template-columns: 45px minmax(0px, auto);
  grid-template-rows: 45px;
  place-items: center start;
  overflow: hidden;

  max-width: inherit;
  width: 100%;
}

.modal > .body > .title > h1 {
  grid-column: 1 / span 2;
  position: inherit;
  overflow: hidden;

  max-width: inherit;
  width: inherit;

  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.modal > .body > .title > .icon+h1 {
  grid-column: auto;
}

.modal > .body > .content {
  grid-area: content;
  position: relative;
  padding: var(--p-tiny);
  overflow-y: scroll;
}

.modal > .body > .controller {
  grid-area: controller;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: var(--m);
}