@charset "UTF-8";
.flexlist {
  display: flex;
  position: relative;
  gap: var(--m);
  flex-wrap: wrap;

  max-width: 100%;
  width: max-content;
  height: max-content;

  background-color: var(--c-main);
}

.flexlist > input[type=checkbox],
.flexlist > input[type=radio] {
  display: none;
}

.flexlist-horizontal {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;

  width: max-content;
  height: max-content;

  background-color: var(--c-main);
}

.flexlist-horizontal > *:not(:last-child) {
  margin-right: 8px;
}

.flexlist-horizontal > input[type=checkbox],
.flexlist-horizontal > input[type=radio] {
  display: none;
}