@charset "UTF-8";
:root {
  --c-menu-shadow: oklch(0% 0 0/0.1);
  --op-menu-shadow: 0 2px 3px var(--c-menu-shadow);

  --i-menu-size: 54px;
}

#float-menu-area {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 0;
  bottom: 0;
  z-index: 1;

  width: 100%;
  height: max-content;
}

#float-menu-area > .tip-row {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: max-content;

  pointer-events: none;
}

#float-menu-area > .tip-row > .tip:not(:empty) {
  padding: var(--p);

  color: var(--c-black);
  border-radius: var(--r);
  background-color: var(--c-accent);
  box-shadow: var(--op-menu-shadow);
}

#float-menu-area > .row {
  overflow-x: auto;
  overflow-y: hidden;

  width: 100%;
  height: max-content;
}

#float-menu-area > .row > .wrap {
  display: flex;
  margin: 0 auto;
  padding: 0 var(--p) var(--p) var(--p);
  gap: var(--p);

  width: max-content;
  height: max-content;
}

.float-menu {
  display: flex;
  overflow: hidden;

  width: max-content;
  height: calc(var(--i-menu-size) + 2px);

  border: solid 1px var(--c-border);
  border-radius: var(--r);
  background-color: var(--c-main);
  box-shadow: var(--op-menu-shadow);

  animation: cubic-bezier(.17, .67, .49, .99) 0.25s ani-float-menu-in;
}
@keyframes ani-float-menu-in {
  from {
    transform: translateY(100%) scale(0.9);
    opacity: 0;
  }

  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.float-menu > .partition {
  width: 1px;
  height: 100%;

  background-color: var(--c-border);
}

.float-menu > button {
  padding: unset;
  justify-content: center;
  padding: var(--p-large);
  
  min-width: var(--i-menu-size);
  min-height: var(--i-menu-size);
  
  border-radius: unset;
  background-color: unset;
}
.float-menu > button:focus { outline: unset; }
.float-menu > button.active { background-color: var(--c-accent); }
.float-menu > .logo { background: no-repeat center center/32px url("../assets/essentials/logo-black.svg"); }

#i-image { background-image: url("../assets/images/thumbnail-image.svg"); }
#i-dialogue { background-image: url("../assets/images/thumbnail-dialogue.svg"); }
#i-sticker { background-image: url("../assets/images/thumbnail-sticker.svg"); }

@media screen and (max-width: 1500px) {
  #menuzone > .wrap { height: calc(100% - (var(--i-menu-size) * 2) - (var(--p) * 2) - 4px); }
}

@media screen and (max-width: 700px) {
  #menuzone {
    position: absolute;
    left: 0;
    top: 0;

    width: 100%;
    height: calc(100dvh - (var(--i-menu-size) * 2) - (var(--p) * 3));

    pointer-events: none;
  }

  #menuzone > .wrap {
    width: 100%;
    height: 100%;
  }

  .menu {
    width: 100%;
    height: 100%;

    pointer-events: auto;
  }
}